* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;

}

.container {
    margin-top: 5em;
}

.form-input {
    padding-block: .5em;
    width: 100%;
    border-radius: .3em;
}

.submit-button {
    padding-inline: 1em;
    padding-block: .5em;
    background-color: steelblue;
    color: #fff;
    border: none;
    border-radius: .3em;
    width: 100%;
}

/* utility classes */

.marginY-400 {
    margin-block: .5em;
}

.block {
    display: block;
}

.bottom-div {
  background-color: rgb(214, 160, 160);
}